<app-header></app-header>
<main>
    <app-loading class="animated1 fadeIn" *ngIf="loading"></app-loading>
    <app-message class="animated1 fadeIn" *ngIf="msnOk"></app-message>
    <section class="contact-section section-padding section-bg animated1 fadeIn " id="section_5" *ngIf="!loading">
        <div class="container bw">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-12 text-center">
                            <h2 class="mb-5" *ngIf="edit=='true'">Editar compañía</h2>
                            <h2 class="mb-5" *ngIf="edit=='false'">Ver compañía</h2>
                        </div>
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-12 col-md-6 mt-3">
                                    <div class="form-group">
                                        <label for="nombre">Nombre</label>
                                        <input type="text" class="form-control upper" id="nombre"
                                            formControlName="nombre" required placeholder="Nombre"
                                            [readonly]="edit==='false'">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 mt-3">
                                    <div class="form-group">
                                        <label for="clave">Clave</label>
                                        <input type="text" class="form-control upper" id="clave" formControlName="clave"
                                            required placeholder="Clave" [readonly]="edit==='false'">
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 mt-3">
                                    <div class="form-group">
                                        <label for="calle">Calle</label>
                                        <input type="text" class="form-control upper" id="calle" formControlName="calle"
                                            required placeholder="Calle" [readonly]="edit==='false'">
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 mt-3">
                                    <div class="form-group">
                                        <label for="ciudad">Ciudad</label>
                                        <input type="text" class="form-control upper" id="ciudad" formControlName="ciudad"
                                            required placeholder="Ciudad" [readonly]="edit==='false'">
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 mt-3">
                                    <div class="form-group">
                                        <label for="estado">Estado</label>
                                        <input type="text" class="form-control upper" id="estado" formControlName="estado"
                                            required placeholder="Estado" [readonly]="edit==='false'">
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 mt-3">
                                    <div class="form-group">
                                        <label for="pais">País</label>
                                        <input type="text" class="form-control upper" id="pais" formControlName="pais"
                                            required placeholder="País" [readonly]="edit==='false'">
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 mt-3">
                                    <div class="form-group">
                                        <label for="codigoPostal">Código postal</label>
                                        <input type="number" class="form-control upper" id="codigoPostal" formControlName="codigoPostal"
                                            required placeholder="Código postal" [readonly]="edit==='false'">
                                    </div>
                                </div>

                            </div>

                            <div class="row mt-5 text-center">
                                <div class="col-12 col-md-6  mt-3 text-center">
                                    <button class="btn btn-lg btn-block btn-warning" (click)="back()">Regresar</button>

                                </div>
                                <div class="col-12 col-md-6  mt-3 text-center " *ngIf="edit==='true'">
                                    <button type="submit" class="btn btn-lg btn-block but  ">Editar</button>

                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </section>



</main>
<app-footer></app-footer>