<div class="body">
    <div class="container" >
        <app-header></app-header>
        <div class="d-flex justify-content-center h-100">
       
            <div class="card" *ngIf="!loading">
                <div class="card-header text-center">
                    <h3 >Verificando correo favor de esperar</h3>
            
                    
                </div>
                <div class="card-body">
                    <app-loading  ></app-loading>
                </div>
                
            </div>
        </div>
    </div>

</div>