<app-header></app-header>
<main>
    <app-loading class="animated1 fadeIn" *ngIf="loading"></app-loading>
    <section class="contact-section section-padding section-bg animated1 fadeIn " id="section_5" *ngIf="!loading">
        <div class="container bw">
            <div class="card">
                <div class="card-body">
                    <!-- <div class="row text-center">

                        <div class="col-12 col-md-6 mt-3 m-center">

                            <input type="text" class="form-contcompania" placeholder="Buscar compania ..."
                                (keyup)="buscar(txtTermino.value)" #txtTermino>
                        </div>

                    </div> -->
                    <div class="row">
                        <div class="row mt-5 text-center">
                            <div class="col-12  text-center">
                                <button class="btn but   " (click)="newCompania()">Nuevo Compañía</button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-12 col-12 text-center">
                    <h2 class="mb-5">Compañías</h2>
                </div>

                <div class="col-12 text-center">

                    <h5 *ngIf="companias.length==0">Sin información</h5>
                    <div class="table-over" *ngIf="companias.length >0">


                        <table class="table table-striped table-bordered ">
                            <thead class="thead-dark">
                                <th class="upper">ID</th>
                                <th class="upper">Opciones</th>
                                <th class="upper">nombre</th>
                                <th class="upper">Clave</th>
                                <th class="upper">Calle</th>
                                <th class="upper">Ciudad</th>
                                <th class="upper">Estado</th>
                                <th class="upper">CodigoPostal</th>
                                <th class="upper">País</th>
                                <th class="upper">Creador</th>
                                <th class="upper">Activado</th>
                                <th class="upper">Creación</th>
                                <th class="upper">Edición</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let compania of companias; let i=index">
                                    <td>{{i+1}}</td>
                                    <td>
                                        <div class="opc">

                                            <i class="icon-eye text-primary" *ngIf="compania.activated"
                                                (click)="viewCompania(compania.uid)"></i>
                                        </div>
                                        <div class="opc">

                                            <i class="icon-ok-circled text-success" *ngIf="!compania.activated"
                                                (click)="isActived(compania)"></i>
                                        </div>
                                        <div class="opc">

                                            <i class="icon-trash text-danger" *ngIf="compania.activated"
                                                (click)="isActived(compania)"></i>
                                        </div>
                                        <div class="opc">
                                            <i class="icon-pencil text-primary" *ngIf="compania.activated"
                                                (click)="editCompania(compania.uid)"></i>

                                        </div>



                                    </td>
                                    <td class="upper">{{compania.nombre}}</td>
                                    <td class="upper">{{compania.clave}}</td>
                                    <td class="upper">{{compania.calle}}</td>
                                    <td class="upper">{{compania.ciudad}}</td>
                                    <td class="upper">{{compania.estado}}</td>
                                    <td class="upper">{{compania.codigoPostal}}</td>
                                    <td class="upper">{{compania.pais}}</td>
                                    <td class="upper">{{compania.usuarioCreated.email}}</td>
                                    <td>
                                        <i *ngIf="compania.activated" class="icon-ok-circled text-success"></i>
                                        <i *ngIf="!compania.activated" class="icon-cancel-circled text-danger"></i>
                                    </td>
                                    <td>{{compania.dateCreated | date:'dd/MM/YYYY'}}</td>
                                    <td>{{compania.lastEdited | date:'dd/MM/YYYY'}}</td>

                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>
        </div>
    </section>



</main>
<app-footer></app-footer>