<app-header></app-header>
<main>
    <app-loading class="animated1 fadeIn" *ngIf="loading"></app-loading>
    <section class="contact-section section-padding section-bg animated1 fadeIn " id="section_5" *ngIf="!loading">
        <div class="container bw">
            <div class="card">
                <div class="card-body">
                    <!-- <div class="row">

                        <div class="col-12 col-md-4 mt-3">

                            <input type="text" class="form-control" placeholder="Buscar zona..."
                                (keyup)="buscar(txtTermino.value)" #txtTermino>
                        </div>
                        <div class="col-12 col-md-4 mt-3" *ngIf="rol ===ADM">
                            <select class="form-control" (change)="buscarCatalogo('usuarioAsignados',usuarioAsignado.value)" #usuarioAsignado>
                                <option value="">Búsqueda por usuario asignado </option>
                                <option [value]="item.uid" *ngFor="let item of usuarios">{{item.nombre}}</option>

                            </select>
                        </div>
                        <div class="col-12 col-md-4 mt-3" *ngIf="rol ===ADM">
                            <select class="form-control" (change)="buscarCatalogo('zonas',tipoZona.value)" #tipoZona>
                                <option value="">Búsqueda por tipo zona </option>
                                <option [value]="item.uid" *ngFor="let item of tipoZonas">{{item.nombre}}</option>

                            </select>
                        </div>

                    </div> -->
                    <div class="row">
                        <div class="row mt-5 text-center">
                            <div class="col-12  text-center">
                                <button class="btn but   " (click)="newUser()">Nuevo zona</button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-12 col-12 text-center">
                    <h2 class="mb-5">Zona</h2>
                </div>

                <div class="col-12 text-center">
                    <h5 *ngIf="zonas.length===0">Sin información</h5>
                    <div class="table-over">


                        <table class="table table-striped table-bordered " *ngIf=" zonas && zonas.length >0">
                            <thead class="thead-dark">
                                <th class="upper">uid</th>
                                <th class="upper">opciones</th>
                                <th class="upper">nombre</th>
                                <th class="upper">clave</th>
                                <th class="upper">activated</th>
                                <th class="upper">usuarioCreated</th>
                                <th class="upper">dateCreated</th>
                                <th class="upper">lastEdited</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let zona of zonas; let i=index">
                                    <td>{{i+1}}</td>
                                    <td>
                                        <div class="opc">

                                            <i class="icon-eye text-primary" *ngIf="zona.activated"
                                                (click)="viewZona(zona.uid)"></i>
                                        </div>
                                        <div class="opc">

                                            <i class="icon-ok-circled text-success" *ngIf="!zona.activated"
                                                (click)="isActived(zona)"></i>
                                        </div>
                                        <div class="opc">

                                            <i class="icon-trash text-danger" *ngIf="zona.activated"
                                                (click)="isActived(zona)"></i>
                                        </div>
                                        <div class="opc">
                                            <i class="icon-pencil text-primary" *ngIf="zona.activated"
                                                (click)="editZona(zona.uid)"></i>

                                        </div>



                                    </td>
                                    <td class="upper">{{zona.nombre}}</td>
                                    <td class="upper">{{zona.clave}}</td>
                                    
                                    <td>

                                        <i *ngIf="zona.activated" class="icon-ok-circled text-success"></i>
                                        <i *ngIf="!zona.activated" class="icon-cancel-circled text-danger"></i>
                                    </td>

                                    <td class="upper" class="upper" *ngIf=" !zona.usuarioCreated">

                                    </td>
                                    <td class="upper" *ngIf="zona.usuarioCreated ">
                                        {{zona.usuarioCreated.email}}
                                    </td>



                                    <td>{{zona.dateCreated | date:'dd/MM/YYYY'}}</td>
                                    <td>{{zona.lastEdited | date:'dd/MM/YYYY'}}</td>

                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>
        </div>
    </section>



</main>
<app-footer></app-footer>