<app-header></app-header>
<main>
    <app-loading class="animated1 fadeIn" *ngIf="loading"></app-loading>
    <app-message class="animated1 fadeIn" *ngIf="msnOk"></app-message>
    <section class="contact-section section-padding section-bg animated1 fadeIn " id="section_5" *ngIf="!loading">
        <div class="container bw">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-12 text-center">
                            <h2 class="mb-5" *ngIf="edit=='true'">Editar pago programado</h2>
                            <h2 class="mb-5" *ngIf="edit=='false'">Ver pago programado</h2>
                        </div>
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-12 col-md-4" style="margin-top: 24px;">
                                    <div class="form-group" *ngIf="edit=='true'">
                                        <label for="empresa">Empresa</label>
                                        <select name="" id="empresa" formControlName="empresa"
                                            class="form-control upper">
                                            <option value="">Empresa</option>
                                            <option [value]="empresa.uid" *ngFor="let empresa of empresas">
                                                {{empresa.nombre}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group" *ngIf="edit=='false'">
                                        <label for="empresa">Empresa</label>
                                        <input type="string" class="form-control upper" id="empresa"
                                            formControlName="empresa" placeholder="Fecha Programada"
                                            [readonly]="edit==='false'">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" style="margin-top: 24px;">
                                    <div class="form-group">
                                        <label for="tipoFactura">Tipo de factura</label>
                                        <input type="text" class="form-control upper" id="tipoFactura"
                                            formControlName="tipoFactura" placeholder="Tipo de factura" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" style="margin-top: 24px;" *ngIf="form.value.concepto !==''">
                                    <div class="form-group">
                                        <label for="concepto">Concepto</label>
                                        <input type="text" class="form-control upper" id="concepto"
                                            formControlName="concepto" placeholder="Concepto" readonly>
                                    </div>
                                </div>
                            
                                <div class="col-12 col-md-3" style="margin-top: 24px;"  >
                                    <div class="form-group">
                                        <label for="conceptoLoop">Concepto Loop</label>
                                        <select name="" id="conceptoLoop" formControlName="conceptoLoop"
                                        class="form-control upper" #conceptoLoop readonly>
                                        <option value="" disabled>Concepto loop</option>
                                        <option [value]="conceptoLoop.uid" *ngFor="let conceptoLoop of conceptoLoops" disabled>
                                            {{conceptoLoop.name}}</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" style="margin-top: 24px;" *ngIf="conceptoLoop.value  == OTCONCEPTO">
                                    <div class="form-group">
                                        <label for="otroConcepto" disabled >Otro concepto</label>
                                        <input type="text" class="form-control upper" id="otroConcepto"
                                            formControlName="otroConcepto" placeholder="Concepto" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" style="margin-top: 24px;">
                                    <div class="form-group">
                                        <label for="cantidad">Cantidad</label>
                                        <input type="number" class="form-control upper" id="cantidad"
                                            formControlName="cantidad" placeholder="Cantidad" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" *ngIf="form.value.empresa !==LOOP"
                                    style="margin-top: 24px;">
                                    <div class="form-group">
                                        <label for="proveedor">Proveedor</label>
                                        <input type="text" class="form-control upper" id="proveedor"
                                            formControlName="proveedor" placeholder="Proveedor" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" *ngIf="form.value.empresa ==LOOP"
                                    style="margin-top: 24px;">
                                    <div class="form-group">
                                        <label for="proveedorLoop">Proveedor Loop</label>
                                        <select name="" id="proveedorLoop" formControlName="proveedorLoop"
                                            #proveedorLoop class="form-control upper" readonly>
                                            <option value="" disabled>Selecciona una proveedorLoop</option>
                                            <option [value]="item.uid" *ngFor="let item of proveedorLoops" disabled>
                                                {{item.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" *ngIf="form.value.empresa ==LOOP"
                                    style="margin-top: 24px;">
                                    <div class="form-group">
                                        <label for="clienteLoop">Cliente Loop</label>
                                        <select name="" id="clienteLoop" formControlName="clienteLoop" #clienteLoop
                                            class="form-control upper" readonly>
                                            <option value="" disabled>Selecciona una clienteLoop</option>
                                            <option [value]="item.uid" *ngFor="let item of clienteLoops" disabled>
                                                {{item.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" *ngIf="form.value.empresa ==LOOP"
                                    style="margin-top: 24px;">
                                    <div class="form-group">
                                        <label for="quote">Quote</label>
                                        <input type="text" class="form-control upper" id="quote" formControlName="quote"
                                            placeholder="Quote" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" *ngIf="form.value.empresa ==LOOP"
                                    style="margin-top: 24px;">
                                    <div class="form-group">
                                        <label for="impExpLoop">Importación o Exportación</label>
                                        <input type="text" class="form-control upper" id="impExpLoop"
                                            formControlName="impExpLoop" placeholder="Importacion o Exportación"
                                            readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" style="margin-top: 24px;">
                                    <div class="form-group">
                                        <label for="fechaSolicitud">Fecha solicitada</label>
                                        <input type="date" class="form-control upper" id="fechaSolicitud"
                                            formControlName="fechaSolicitud" placeholder="Fecha pago" readonly>
                                    </div>
                                </div>

                                <div class="col-12 col-md-3  " style="margin-top: 24px;">
                                    <div class="form-group">
                                        <label for="subsidiaria">Subsidiaria</label>
                                        <select name="" id="subsidiaria" formControlName="subsidiaria"
                                            class="form-control upper" readonly>
                                            <option [value]="item.uid" *ngFor="let item of subsidiarias" disabled>
                                                {{item.nombre}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3  " style="margin-top: 24px;">
                                    <div class="form-group">
                                        <label for="tipoGasto">Tipo de gasto</label>
                                        <select name="" id="tipoGasto" formControlName="tipoGasto"
                                            class="form-control upper">

                                            <option [value]="item.uid" *ngFor="let item of tipoGastos" disabled>
                                                {{item.nombre}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3  " style="margin-top: 24px;">
                                    <div class="form-group">
                                        <label for="terminoPago">Termino de pago</label>
                                        <select name="" id="terminoPago" formControlName="terminoPago"
                                            class="form-control upper">

                                            <option [value]="item.uid" *ngFor="let item of terminoPagos" disabled>
                                                {{item.nombre}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3  " style="margin-top: 24px;">
                                    <div class="form-group">
                                        <label for="moneda">Moneda</label>
                                        <select name="" id="moneda" formControlName="moneda" class="form-control upper">

                                            <option [value]="item.uid" *ngFor="let item of monedas" disabled>
                                                {{item.nombre}}
                                            </option>
                                        </select>
                                    </div>
                                </div>


                                <div class="col-12 col-md-4" style="margin-top: 24px;">
                                    <div class="form-group">
                                        <label for="aprobacion">Aprobación</label>
                                        <select name="" id="aprobacion" formControlName="aprobacion"
                                            class="form-control upper" (change)="aprobacion()">
                                            <option value="">---------</option>
                                            <option value="true">Si</option>
                                            <option value="false">No</option>


                                        </select>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4" style="margin-top: 24px;">
                                    <div class="form-group">
                                        <label for="fechaVencimiento">Fecha vencimiento</label>
                                        <input type="date" class="form-control upper" id="fechaVencimiento"
                                            formControlName="fechaVencimiento" placeholder="Fecha vencimiento"
                                            [readonly]="edit==='false'">
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" style="margin-top: 24px;">
                                    <div class="form-group">
                                        <label for="fechaProgramada">Fecha Programada</label>
                                        <input type="date" class="form-control upper" id="fechaProgramada"
                                            formControlName="fechaProgramada" placeholder="Fecha Programada"
                                            [readonly]="edit==='false'">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6" style="margin-top: 24px;">
                                    <div class="form-group">
                                        <label for="fechaPago">Fecha pago</label>
                                        <input type="date" class="form-control upper" id="fechaPago"
                                            formControlName="fechaPago" placeholder="Fecha pago"
                                            [readonly]="edit==='false'">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" style="margin-top: 24px;">
                                    <div class="form-group">
                                        <label for="pagado">Pagado</label>
                                        <select name="" id="pagado" formControlName="pagado" class="form-control upper">
                                            <option value="">---------</option>
                                            <option value="true">Si</option>
                                            <option value="false">No</option>


                                        </select>
                                    </div>
                                </div>
                                <div class="row text-center">
                                    <div class="col-4  text-center mt-5 ma" *ngIf="form.value.cotizacion ==''">
                                        <div class="form-group text-center">
                                            <label for="cotizacion"> Para generar el registro sube el PDF
                                                Ingresa tu cotizacion <br>
                                                <img src="/assets/images/invoice.png" alt="Ingresa tu cotizacion"
                                                    style="width: 80px; margin: auto;">

                                            </label>
                                            <input type="file" class="form-control upper" id="cotizacion" #cotizacion
                                                formControlName="cotizacion"   placeholder="Archivo"
                                                accept="application/pdf" (change)="setFile($event ,'cotizacion')">
                                        </div>
                                        <span *ngIf="submited && errorControl['cotizacion'].errors " class="error">Es
                                            requerido
                                        </span>
                                    </div>

                                    <div class="col-4  text-center mt-5 ma"  *ngIf="form.value.factura ==''" >
                                        <div class="form-group text-center">
                                            <label for="factura"> Para generar el registro sube el PDF
                                                Ingresa tu factura <br>
                                                <img src="/assets/images/invoice.png" alt="Ingresa tu factura"
                                                    style="width: 80px; margin: auto;">

                                            </label>
                                            <input type="file" class="form-control upper" id="factura" #factura
                                                formControlName="factura"   placeholder="Archivo"
                                                accept="application/pdf" (change)="setFile($event ,'factura')">
                                        </div>
                                        <span *ngIf="submited && errorControl['factura'].errors " class="error">Es
                                            requerido
                                        </span>
                                    </div>
                                    <div class="col-4  text-center mt-5 ma" *ngIf="form.value.comprobante ==''" >
                                        <div class="form-group text-center">
                                            <label for="comprobante"> Para generar el registro sube el PDF
                                                Ingresa tu comprobante <br>
                                                <img src="/assets/images/invoice.png" alt="Ingresa tu comprobante"
                                                    style="width: 80px; margin: auto;">

                                            </label>
                                            <input type="file" class="form-control upper" id="comprobante" #comprobante
                                                formControlName="comprobante"   placeholder="Archivo"
                                                accept="application/pdf" (change)="setFile($event ,'comprobante')">
                                        </div>
                                        <span *ngIf="submited && errorControl['comprobante'].errors " class="error">Es
                                            requerido
                                        </span>
                                    </div>

                                </div>






                                <div class="col-12 " style="margin-top: 24px;">
                                    <div class="form-group">
                                        <label for="observaciones">Observaciones</label>
                                        <textarea class="form-control upper" id="observaciones"
                                            formControlName="observaciones" placeholder="Observaciones"
                                            [readonly]="edit==='false'"> </textarea>

                                    </div>
                                </div>


                            </div>

                            <div class="row mt-5 text-center">
                                <div class="col-12 col-md-6  md-3 text-center">
                                    <button class="btn btn-lg btn-block btn-warning" (click)="back()">Regresar</button>

                                </div>
                                <div class="col-12 col-md-6  md-3 text-center " *ngIf="edit==='true'">
                                    <button type="submit" class="btn btn-lg btn-block but  ">Editar</button>

                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </section>



</main>
<app-footer></app-footer>