<app-header></app-header>
<main>
    <app-loading class="animated1 fadeIn" *ngIf="loading"></app-loading>
    <app-message class="animated1 fadeIn" *ngIf="msnOk"></app-message>
    <section class="contact-section section-padding section-bg animated1 fadeIn " id="section_5" *ngIf="!loading">
        <div class="container bw">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-12 text-center">
                            <h2 class="mb-5">Crear Solicitud de viaje</h2>
                        </div>
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-12 col-md-4 mt-3">

                                    <div class="form-group">
                                        <label for="tipoSolicitudViaje">Tipo </label>
                                        <select name="" id="tipoSolicitudViaje" formControlName="tipoSolicitudViaje"  class="form-control upper" required>
                                            <option value="">Selecciona un tipo  </option>
                                            <option [value]="item.uid" *ngFor="let item of tipoSolicitudViajes">{{item.nombre}}
                                            </option>
                                        </select>
                                        
                                    </div>
                                    <span *ngIf="submited && errorControl.tipoSolicitudViaje.errors " class="error">Es requerido
                                    </span>
                                </div>
                                <div class="col-12 col-md-4 mt-3">
                                    <div class="form-group">
                                        <label for="empleado">Empleado</label>
                                        <input type="text" class="form-control upper" id="empleado" formControlName="empleado"
                                            placeholder="Empleado" required readonly>
                                    </div>
                                    <span *ngIf="submited && errorControl.empleado.errors " class="error">Es requerido
                                    </span>
                                </div>
                                <div class="col-12 col-md-4 mt-3">

                                    <div class="form-group">
                                        <label for="dateViaje">Fecha de viaje</label>
                                        <input type="date" class="form-control upper" id="dateViaje" formControlName="dateViaje"
                                            placeholder="Fecha de viaje" required (change)="calculaDias($event)">
                                    </div>
                                 
                                    <span *ngIf="submited && errorControl.dateViaje.errors " class="error">Es requerido
                                    </span>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="duracion">Duración en dias</label>
                                        <input type="number" class="form-control upper" id="duracion" formControlName="duracion"
                                            placeholder="Duración en dias" min="1"  required (change)="calculaDias($event)">
                                    </div>
                                    <span *ngIf="submited && errorControl.duracion.errors " class="error">Es requerido
                                    </span>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="destino">Destino</label>
                                        <input type="text" class="form-control upper" id="destino" formControlName="destino"
                                            placeholder="Destino"  required>
                                    </div>
                                    <span *ngIf="submited && errorControl.destino.errors " class="error">Es requerido
                                    </span>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="cantidadSolicitada">Cantidad solicitada</label>
                                        <input type="number" class="form-control upper" id="cantidadSolicitada" formControlName="cantidadSolicitada"
                                            placeholder="Cantidad solicitada"  min="0" required>
                                    </div>
                                    <span *ngIf="submited && errorControl.cantidadSolicitada.errors " class="error">Es requerido
                                    </span>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="moneda">Moneda</label>
                                        <select name="moneda" id="moneda" formControlName="moneda"  class="form-control upper" required>
                                            
                                            <ng-container *ngFor="let item of monedas">
                                                <option [value]="item.uid" *ngIf="item.clave =='MXN'" >{{item.nombre}}
                                                </option>

                                            </ng-container>
                                        </select>
                                    </div>
                                    <span *ngIf="submited && errorControl.moneda.errors " class="error">Es requerido
                                    </span>
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="proposito">Proposito</label>
                                        <textarea type="text" class="form-control upper" id="proposito" formControlName="proposito"
                                            placeholder="Proposito"  required> </textarea>

                                    </div>
                                    <span *ngIf="submited && errorControl.proposito.errors " class="error">Es requerido
                                    </span>
                                </div>
                                <div class="col-12 col-md-6">

                                    <div class="form-group">
                                        <label for="dateSalida">Fecha de salida</label>
                                        <input type="date" class="form-control upper" id="dateSalida" formControlName="dateSalida"
                                            placeholder="Fecha de salida" min="todayT"  required readonly>
                                    </div>
                                    <span *ngIf="submited && errorControl.dateSalida.errors " class="error">Es requerido
                                    </span>
                                </div>
                                <div class="col-12 col-md-6">

                                    <div class="form-group">
                                        <label for="dateRegreso">Fecha de regreso</label>
                                        <input type="date" class="form-control upper" id="dateRegreso" formControlName="dateRegreso"
                                            placeholder="Fecha de regreso"  required readonly>
                                    </div>
                                    <span *ngIf="submited && errorControl.dateRegreso.errors " class="error">Es requerido
                                    </span>
                                </div>
                               
                                <div class="col-12 col-md-4">

                                    <div class="form-group">
                                        <label for="tipoTransporte">Tipo de transporte</label>
                                        <select name="tipoTransporte" id="tipoTransporte" formControlName="tipoTransporte"  class="form-control upper" required>
                                           
                                            <option [value]="item.uid" *ngFor="let item of tipoTransportes">{{item.nombre}}
                                            </option>
                                        </select>
                                    </div>
                                    <span *ngIf="submited && errorControl.tipoTransporte.errors " class="error">Es requerido
                                    </span>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="medioTransporte">Medio de transporte</label>
                                        <input type="text" class="form-control upper" id="medioTransporte" formControlName="medioTransporte"
                                            placeholder="Medio de transporte"  required>
                                    </div>
                                    <span *ngIf="submited && errorControl.medioTransporte.errors " class="error">Es requerido
                                    </span>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="numeroTransporte">Numero de transporte</label>
                                        <input type="text" class="form-control upper" id="numeroTransporte" formControlName="numeroTransporte"
                                            placeholder="Numero de transporte">
                                    </div>
                                    <span *ngIf="submited && errorControl.numeroTransporte.errors " class="error">Es requerido
                                    </span>
                                </div>
                              
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="detalleTransporte">Detalle Transporte</label>
                                        <textarea   class="form-control upper" id="detalleTransporte" formControlName="detalleTransporte"
                                            placeholder="Detalle Transporte"  required> </textarea>

                                    </div>
                                    <span *ngIf="submited && errorControl.detalleTransporte.errors " class="error">Es requerido
                                    </span>
                                </div>


                            </div>

                            <div class="row mt-5 text-center">
                                <div class="col-12 col-md-6  mt-3 text-center">
                                    <button class="btn btn-lg btn-block btn-warning" (click)="back()">Regresar</button>

                                </div>
                                <div class="col-12 col-md-6  mt-3 text-center ">
                                    <button type="submit" class="btn btn-lg btn-block but">Crear</button>

                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </section>



</main>
<app-footer></app-footer>