<p>carga works!</p>
<app-header></app-header>
<main>
    <app-loading class="animated1 fadeIn" *ngIf="loading"></app-loading>
    <section class="contact-section section-padding section-bg animated1 fadeIn " id="section_5" *ngIf="!loading">
        <div class="container bw">
            <div class="card">
                <div class="card-body">
                    <!-- <div class="row text-center">

                        <div class="col-12 col-md-6 mt-3 m-center">

                            <input type="text" class="form-contcarga" placeholder="Buscar carga ..."
                                (keyup)="buscar(txtTermino.value)" #txtTermino>
                        </div>

                    </div> -->
                    <div class="row">
                        <div class="row mt-5 text-center">
                            <div class="col-12  text-center">
                                <button class="btn but   " (click)="newCarga()">Nuevo Carga</button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-12 col-12 text-center">
                    <h2 class="mb-5">Cargas</h2>
                </div>

                <div class="col-12 text-center">

                    <h5 *ngIf="cargas.length==0">Sin información</h5>
                    <div class="table-over" *ngIf="cargas.length >0">


                        <table class="table table-striped table-bordered ">
                            <thead class="thead-dark">
                                <th class="upper">ID</th>
                                <th class="upper">Opciones</th>
                                <th class="upper">nombre</th>
                                <th class="upper">Clave</th>
                                <th class="upper">Creador</th>
                                <th class="upper">Activado</th>
                                <th class="upper">Creación</th>
                                <th class="upper">Edición</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let carga of cargas; let i=index">
                                    <td>{{i+1}}</td>
                                    <td>
                                        <div class="opc">

                                            <i class="icon-eye text-primary" *ngIf="carga.activated"
                                                (click)="viewCarga(carga.uid)"></i>
                                        </div>
                                        <div class="opc">

                                            <i class="icon-ok-circled text-success" *ngIf="!carga.activated"
                                                (click)="isActived(carga)"></i>
                                        </div>
                                        <div class="opc">

                                            <i class="icon-trash text-danger" *ngIf="carga.activated"
                                                (click)="isActived(carga)"></i>
                                        </div>
                                        <div class="opc">
                                            <i class="icon-pencil text-primary" *ngIf="carga.activated"
                                                (click)="editCarga(carga.uid)"></i>

                                        </div>



                                    </td>
                                    <td class="upper">{{carga.nombre}}</td>
                                    <td class="upper">{{carga.clave}}</td>
                                    <td class="upper">{{carga.usuarioCreated.email}}</td>
                                    <td>
                                        <i *ngIf="carga.activated" class="icon-ok-circled text-success"></i>
                                        <i *ngIf="!carga.activated" class="icon-cancel-circled text-danger"></i>
                                    </td>
                                    <td>{{carga.dateCreated | date:'dd/MM/YYYY'}}</td>
                                    <td>{{carga.lastEdited | date:'dd/MM/YYYY'}}</td>

                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>
        </div>
    </section>



</main>
<app-footer></app-footer>