<app-header></app-header>
<main>
    <app-loading class="animated1 fadeIn" *ngIf="loading"></app-loading>
    <app-message class="animated1 fadeIn" *ngIf="msnOk"></app-message>
    <section class="contact-section section-padding section-bg animated1 fadeIn " id="section_5" *ngIf="!loading">
        <div class="container bw">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-12 text-center">
                            <h2 class="mb-5"   >Crear ticket</h2>
                          
                        </div>
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-12 col-md-6 mt-3" *ngIf="tipoTickets ">

                                    <div class="form-group">
                                        <label for="rol">Tipo de incidencia</label>
                                        <select name="" id="rol" formControlName="tipoTicket"
                                            class="form-control upper">
                                            <option value="">Selecciona</option>
                                            <option [value]="item.uid" *ngFor="let item of tipoTickets">{{item.nombre}}
                                            </option>
                                        </select>
                                    </div>
                                    <span *ngIf="submited && errorControl['tipoTicket'].errors " class="error">Es
                                        requerido
                                    </span>
                                </div>
                                <div class="col-12  mt-3">
                                    <div class="form-group">
                                        <label for="descripcion">Descripción de ticket</label>
                                        <textarea type="text" class="form-control upper" id="nombre"
                                            formControlName="descripcion" required
                                            placeholder="Descripción"> </textarea>

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 mt-3 text-center">
                                    <div class=" image-upload" class="text-center">

                                        <label for="file-input" class="text-center">

                                            <ng-container *ngIf="addPicture" class="text-center">
                                                <label for="file-input" class="text-center">
                                                    <img *ngIf="ticket.img ==''"
                                                        [src]="url+'/upload/tickets/default.jpg'"
                                                        alt="Click aquí para subir tu foto"
                                                        title="Click aquí para subir tu foto" class="img-avatar">
                                                    </label>
                                              
                                                        <img *ngIf="ticket.img !=='' && !imgTemp   "
                                                            [src]="url+'/upload/usuarios/'+img"
                                                            alt="Click aquí para subir tu foto"
                                                            title="Click aquí para subir tu foto" class="img-avatar">
                                                        <img *ngIf="ticket.img !=='' && imgTemp  " [src]="imgTemp"
                                                              class="img-avatar">
                                               

                                                <input id="file-input" name="file-input" type="file" class="ion-no-border"
                                                    (change)="cambiarImagen($event )"   />



                                            </ng-container>
                                        </label>




                                    </div>
                                </div>



                            </div>

                            <div class="row mt-5 text-center">

                                <div class="col-12    mt-3 text-center ">
                                    <button type="submit" class="btn btn-lg btn-block but  ">Crear</button>

                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </section>



</main>
<app-footer></app-footer>